#LandingTopSection {
    width: 80%;
    height: 500px;
    margin: auto;
    margin-top: 50px;
    display: flex;
    z-index: -1;
}

#LandingTopSection>div {
    width: 50%;
    height: 100%;
}

#right-top-section img {
    width: 100%;
    height: 100%;
    z-index: -1;


}

#left-child {
    width: 90%;
    height: 300px;
    margin-top: 100px;
}

#left-child>div {
    width: 100%;
    height: auto;
}

#left-child h1 {
    font-size: calc(1.375rem + (1vw - 3.75px) * 1.6901);
    line-height: calc(2rem + (1vw - 3.75px) * 2.2535);
    font-weight: 700;
    margin: 0px 0px 1.5rem;
}

#left-child p {
    font-size: 17px;
    line-height: 1.6;
    color: rgb(0, 0, 0);
    letter-spacing: 0.1px;

}

#left-child button {
    width: 200px;
    font-size: 18px;
    line-height: 2.6;
    font-weight: 400;
    border-radius: 5px;
    border: 0px;
    letter-spacing: 0.3px;
    cursor: pointer;
    height: 48px;
    font-family: Roboto, sans-serif;
    background-color: rgb(44, 75, 255);
    color: rgb(255, 255, 255);
}

#left-child button:hover {
    background-color: rgb(51, 64, 136);
}

#left-btn {
    display: flex;
    gap: 20px;
}


#desc {
    width: 60%;
    height: 200px;
    margin: auto;
    margin-top: 100px;
}

#para {
    width: 70%;
    /* margin: auto; */
    font-size: 1rem;
    line-height: 1.6;
    margin: 0px 0px 1rem;
    color: rgb(0, 0, 0);
    letter-spacing: 0.1px;
    text-align: center;
}

#desc-1 {
    width: 90%;
    height: 150px;
    margin-top: 40px;
    display: flex;
    margin: auto;
}

#desc-1>div {
    width: 20%;
    height: 100%;
    margin: auto;
}

#desc-2 {
    width: 50%;
    height: 200px;
    margin: auto;
    margin-top: 100px;
    text-align: center;
    gap: 20px;
}

#desc-2-child {
    width: 70%;
    display: flex;
    margin: auto;

}

#desc-2-child img {
    width: 100%;
    height: 60px;
}

#img-1 img {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
}